
body {
  color: white;
  background-color: steelblue;
  font-family: 'Amaranth', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}


.iDCard{
  background-color: cornsilk;
  color: darkslategray;
}

h1, h2, h3, h4 {
  display: inline;
}

code {
  color: white;
}

h4 {
  color: cornflowerblue
}

p {
  border-right: solid 5px rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 14px;
  color: rgba(255,255,255,.70);
}

/* Animation */
p {
  animation: animated-text 4s linear 1s 1 normal both,
             animated-cursor 600ms linear infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 456px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


.navbaritem:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.wheel {
  display: inline-block;
  text-align: center;
}

.productimage {
  max-height: 20rem;
  padding-top: 2rem;
  
}



.productimage.producttext {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    top: 5%; /* Adjust this value to move the positioned div up and down */
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial,sans-serif;
    color: #fff;
    width: 60%;
}

.toppage {
  background-color: seashell;
  color : black;
  min-height: 3rem;
}

.voucherEntry{
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}


button {
  padding: 10px 15px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: steelblue;
  background-color: blanchedalmond;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px wheat;
}

button:hover {background-color: coral}

button:active {
  background-color: blanchedalmond;
  box-shadow: 0 5px wheat;
  transform: translateY(4px);
}
/* 
background-image: url("/forsale.png"); */